<app-navbar></app-navbar>
<div class="flex justify-center mt-10">
    <div class="w-3/4">
        <ul class="grid grid-cols-4 gap-4">
            <li *ngFor='let film of films' class="w-[200px] h-[350px] border-2 border-[#d8d8d8] flex flex-col">
                <div class="basis-[80%] bg-cover" style="background-image: url('./assets/IMG/{{ film.titre }}.jpg')">
                </div>
                <div class="basis-[20%] text-center">
                    <p class="text-[#ffb41c] font-bold">{{ film.titre }}</p>
                    <p class="font-bold text-xs">Sortie en salles le {{ film.dateSortie | date: 'shortDate'}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>