<ul class="grid grid-cols-4 gap-4">
    <li class="w-[200px] h-[328px] border-2 border-[#d8d8d8] flex flex-col">
        <div class="basis-[80%]">
            <img src="./assets/IMG/ONE_PIECE_RED.jpg">
        </div>
        <div class="text-center">
            <p class="text-[#ffb41c] font-bold">ONE PIECE FILM - RED</p>
            <p class="font-bold text-xs">Sortie en salles le 10 août 2022</p>
        </div>
    </li>
    <li class="w-[200px] h-[328px] border-2 border-[#d8d8d8] flex flex-col">
        <div class="basis-[80%]">
            <img src="./assets/IMG/JACK_MINOUM.jpg">
        </div>
        <div class="text-center">
            <p class="text-[#ffb41c] font-bold">ONE PIECE FILM - RED</p>
            <p class="font-bold text-xs">Sortie en salles le 10 août 2022</p>
        </div>
    </li>
</ul>