<app-navbar></app-navbar>
<div class="flex justify-center mt-10">
    <div class="w-3/4">
        <ul class="grid grid-cols-4 gap-4">
            <li *ngFor='let film of films' (click)="showDetails(film.noFilm)" class="w-[200px] h-[350px] border-2 border-[#d8d8d8] flex flex-col">
                <div class="basis-[80%] bg-cover" style="background-image: url('./assets/IMG/{{ film.titre }}.jpg')">
                </div>
                <div class="basis-[20%] text-center">
                    <p class="text-[#ffb41c] font-bold">{{ film.titre }}</p>
                    <p class="font-bold text-xs">Sortie en salles le {{ film.dateSortie | date: 'dd/MM/yyyy'}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="showDetail" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="w-10/12 relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-2/4">
        <div *ngIf="!isModify" class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex flex-col justify-center items-center">
            <p class="text-[#ffb41c] font-bold">{{film.titre}}</p>
            <p>{{ film.dateSortie | date: 'shortDate' }} {{' en salle / ' + film.duree + ' min / ' + film.categorie.libelleCat }}</p>
            <p>Réalisateurs</p>
            <div class="w-full text-center">
                <p class="font-bold">{{film.realisateur.prenRea + ' ' + film.realisateur.nomRea}}</p>
            </div>
            <p>Acteurs et actrices</p>
            <div class="grid grid-cols-2">
                <div *ngFor="let perso of film.personnages" class="flex flex-col justify-center items-center">
                    <p class="font-bold">{{perso.acteur.prenAct + ' ' + perso.acteur.nomAct}}</p>
                    <p>Rôle : {{perso.nomPers}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="isModify" class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex flex-col justify-center items-center">
          <p class="text-[#ffb41c] font-bold">{{film.titre}}</p>
          <p>{{ film.dateSortie | date: 'shortDate' }} {{' en salle / ' + film.duree + ' min / ' + film.categorie.libelleCat }}</p>
          <p>Réalisateurs</p>
          <div class="flex flex-col items-center gap-2 w-full">
              <div class="flex justify-center items-center gap-2">
                <label class="font-bold w-16" for="">Prenom</label>
                <input [(ngModel)]="film.realisateur.prenRea" type="text" name="prenRea" id="">
              </div>
              <div class="flex justify-center items-center gap-2">
                <label class="font-bold w-16" for="">Nom</label>
                <input [(ngModel)]="film.realisateur.nomRea" type="text" name="nomRea" id="">
              </div>
          </div>
          <p>Acteurs et actrices</p>
          <div class="grid grid-cols-2 gap-2">
              <div *ngFor="let perso of film.personnages" class="flex flex-col justify-center items-center">
                <div class="flex flex-col items-center gap-2 w-full">
                  <div class="flex justify-center items-center gap-2">
                    <label class="font-bold w-16" for="">Prenom</label>
                    <input class="w-32" [(ngModel)]="perso.acteur.prenAct" type="text" name="prenAct" id="">
                  </div>
                  <div class="flex justify-center items-center gap-2">
                    <label class="font-bold w-16" for="">Nom</label>
                    <input class="w-32" [(ngModel)]="perso.acteur.nomAct" type="text" name="nomAct" id="">
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="flex justify-between bg-gray-50 px-4 py-3 xs:flex-col sm:px-6">
        <button *ngIf="isModify" (click)="saveFilm(film)" type="button" class="mt-3 w-fit rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Enregistrer</button>
        <button *ngIf="!isModify" (click)="modifyFilm()" type="button" class="mt-3 w-fit rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Modifier</button>
        <button *ngIf="!isModify" (click)="hideDetails()" type="button" class="mt-3 w-fit rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Retour</button>
      </div>
    </div>
  </div>
</div>